dependencies:
  - name: mongodb
    version: 7.8.2
    repository: https://kubernetes-charts.storage.googleapis.com/
    alias: mongo-manager
  - name: prometheus-operator
    version: 8.7.0
    repository: https://kubernetes-charts.storage.googleapis.com/
    condition: prometheus.install
    alias: prometheus
  - name: argo
    version: 0.7.2
    repository: https://argoproj.github.io/argo-helm
    condition: argo.install
    alias: argo